/* * { border: 0.1em solid black; } */
.discontinuo {
    border: 0.1em dotted black;
}

.fondo-rojo {
    background-color: red;
}

.fondo-negro {
    background-color: #000;
}

.texto-blanco {
    color: #fff;
}

.redondo {
    border-radius: 50%;
}

.borde-verde {
    border: 0.1em solid green;
}

.px50 {
    width: 50px;
    height: 50px;
    text-align: center;
}